.login_box
{
  position:         relative;
  background-color: #ffffff;
  padding-top:      50px;
  padding-bottom:   20px;
  padding-left:     100px;
  padding-right:    100px;
  margin-top:       20px;
  margin-left:      auto;
  margin-right:     auto;
  border:           solid 1px #D5D8E2;
}

.root
{
}

.m_tabs
{
  padding-bottom: 10px;
}

.m_upperEqnDiv
{
  /*background-color: silver;*/
  background-color:#F6F6F9;
  margin-bottom: 15px;
  border-bottom: solid 1px grey;
}


.datePickingDiv
{
}


.bsTabDiv, .optionsTabDiv, .errorGridTabDiv
{
  border: solid 1px #D5D8E2;
  padding-bottom: 0px;
  margin-top:-6px;
  margin-bottom: 10px;
}


.dataMenuButton, .fileMenuButton
{
  border: none;
  border: solid 1px silver;
  cursor: pointer;
  background-color: none;
}

.logoutButton
{
  cursor: pointer;
  background: none;
  color: blue;
  background-color: none;
  border: none;
  position: relative;
  float: right;
}



br.Wt-tabs-clear
{
  display:none;
}

.DateTimeSelect
{
}

.DubEventEntry
{
  padding: 5px;
  padding-bottom: 2;
  padding-left: 20px;
  border: solid 1px #D5D8E2;
  text-align: left;
  background-color:#F6F6F9;
}

.DubEventEntry_timeSelectDiv
{
  border: solid 1px #D5D8E2;
}

.dubEventEntryTimeButton
{
  border: none;
  border: solid 1px #D5D8E2;
}


.WtCreateNLSimple
{
  width: 99%;
  height: 99%;
}

.WtModelSettingsGui
{
  border: solid 1px #D5D8E2;
}

.WtGeneticallyOptimize
{
}


.MemVariableSpinBox
{
}


.newUserTextDiv
{
  width: 500px;
  border: solid 1px #D5D8E2;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:silver;
}

.WtCreateNLSimple_timeRangeDiv
{
  border: solid 1px #D5D8E2;
  text-align: center;
}

.WtCreateNLSimple_buttonDiv
{
}

.WtCreateNLSimple_inputDiv
{
}

.WtCreateNLSimple_fileInputLayout
{
}

.WtCreateNLSimple_m_weightInput
{
  /*position: relative;*/
  /*float: right;*/
}

.WtCreateNLSimple_m_basalInsulin
{
  /*position: relative;*/
  /*float: right;*/
}

.WtCreateNLSimple_fileInputDiv
{
}

.WtCustomEventTab_buttonDiv
{
  text-align: center;
}

.viewDiv
{
	border: solid 1px #D5D8E2;
	/*height: 200px;*/
	/*width: 400px;*/a
}

.m_errorGridLegend
{
  width: 145px;
  border: solid 1px #D5D8E2;
  padding: 5px;
  padding-top: 15px;
}


.buttonDivCentered
{
  text-align: center ;
}

